**First notebook project week LeWagon**

types of establishment 
https://developers.google.com/maps/documentation/places/web-service/supported_types

# Create API

In [1]:
import pandas as pd
import numpy as np
import requests
import matplotlib.pyplot as plt

**load reviews in .json format**

In [21]:
data = pd.read_json('json_files/urls_reviews_5.json')

In [22]:
data.head()

,title,subTitle,price,menu,categoryName,address,locatedIn,neighborhood,street,city,...,reviewId,reviewUrl,reviewerId,reviewerUrl,reviewerNumberOfReviews,isLocalGuide,stars,rating,responseFromOwnerDate,responseFromOwnerText
0,Urban Outfitters,NaN,$$$,NaN,Clothing store,"Weinmeisterstra√üe 10, 10178 Berlin, Germany",None,Weinmeisterstra√üe 10,Weinmeisterstra√üe 10,Berlin,...,NaN,NaN,NaN,NaN,22,True,5,NaN,NaN,NaN
1,Urban Outfitters,NaN,$$$,NaN,Clothing store,"Weinmeisterstra√üe 10, 10178 Berlin, Germany",None,Weinmeisterstra√üe 10,Weinmeisterstra√üe 10,Berlin,...,NaN,NaN,NaN,NaN,8,True,5,NaN,NaN,NaN
2,Urban Outfitters,NaN,$$$,NaN,Clothing store,"Weinmeisterstra√üe 10, 10178 Berlin, Germany",None,Weinmeisterstra√üe 10,Weinmeisterstra√üe 10,Berlin,...,NaN,NaN,NaN,NaN,1,False,5,NaN,NaN,NaN
3,Urban Outfitters,NaN,$$$,NaN,Clothing store,"Weinmeisterstra√üe 10, 10178 Berlin, Germany",None,Weinmeisterstra√üe 10,Weinmeisterstra√üe 10,Berlin,...,NaN,NaN,NaN,NaN,26,False,1,NaN,NaN,NaN
4,Urban Outfitters,NaN,$$$,NaN,Clothing store,"Weinmeisterstra√üe 10, 10178 Berlin, Germany",None,Weinmeisterstra√üe 10,Weinmeisterstra√üe 10,Berlin,...,NaN,NaN,NaN,NaN,9,False,3,NaN,NaN,NaN

Remove rows with no review text ('None')

In [30]:
df = data.fillna(value=np.nan)
df = df[df['text'].notna()]
df['text']

We could use the categories to subclassify stores?

In [94]:
df['categories']

3       [Clothing store, Men's clothing store, Women's...
4       [Clothing store, Men's clothing store, Women's...
7       [Clothing store, Men's clothing store, Women's...
8       [Clothing store, Men's clothing store, Women's...
10      [Clothing store, Men's clothing store, Women's...
                              ...
1351    [Men's clothing store, Boutique, Clothing stor...
1352    [Men's clothing store, Boutique, Clothing stor...
1353    [Men's clothing store, Boutique, Clothing stor...
1354    [Men's clothing store, Boutique, Clothing stor...
1356    [Men's clothing store, Boutique, Clothing stor...
Name: categories, Length: 503, dtype: object

information about rating

In [83]:
df[['totalScore', 'stars', 'reviewsCount']]

,totalScore,stars,reviewsCount,categories
3,3.9,1,515,"[Clothing store, Men's clothing store, Women's..."
4,3.9,3,515,"[Clothing store, Men's clothing store, Women's..."
7,3.9,5,515,"[Clothing store, Men's clothing store, Women's..."
8,3.9,3,515,"[Clothing store, Men's clothing store, Women's..."
10,3.9,5,515,"[Clothing store, Men's clothing store, Women's..."
...,...,...,...,...
1351,4.1,4,47,"[Men's clothing store, Boutique, Clothing stor..."
1352,4.1,1,47,"[Men's clothing store, Boutique, Clothing stor..."
1353,4.1,3,47,"[Men's clothing store, Boutique, Clothing stor..."
1354,4.1,5,47,"[Men's clothing store, Boutique, Clothing stor..."
1356,4.1,4,47,"[Men's clothing store, Boutique, Clothing stor..."

In [79]:
df.columns

Index(['title', 'subTitle', 'price', 'menu', 'categoryName', 'address',
       'locatedIn', 'neighborhood', 'street', 'city', 'postalCode', 'state',
       'countryCode', 'plusCode', 'website', 'phone', 'temporarilyClosed',
       'claimThisBusiness', 'location', 'permanentlyClosed', 'totalScore',
       'placeId', 'categories', 'cid', 'url', 'searchString', 'scrapedAt',
       'reviewsCount', 'reviewsDistribution', 'imagesCount', 'orderBy', 'name',
       'text', 'publishAt', 'publishedAtDate', 'likesCount', 'reviewId',
       'reviewUrl', 'reviewerId', 'reviewerUrl', 'reviewerNumberOfReviews',
       'isLocalGuide', 'stars', 'rating', 'responseFromOwnerDate',
       'responseFromOwnerText'],
      dtype='object')

In [78]:
df[['title','text']].groupby("title").count()

                  text
title
H&M                 58
JACK & JONES        28
Urban Outfitters   417

In [48]:
df['price'] = df['price'].replace({'$$$':'expensive', '$$':'medium', '$': 'cheap'})

In [49]:
df['price']

3       expensive
4       expensive
7       expensive
8       expensive
10      expensive
          ...
1351          NaN
1352          NaN
1353          NaN
1354          NaN
1356          NaN
Name: price, Length: 503, dtype: object

In [97]:
1.64/398*157

0.6469346733668341

# Analyze text

In [50]:
dtext = df[['text']]
dtext

                                                   text
3     (Translated by Google) Unpleasant employee, af...
4     (Translated by Google) My girlfriend and I act...
7                                   Very nice cltothing
8                                      It‚Äôs an ok store
10    (Translated by Google) My daughter's favorite ...
...                                                 ...
1351  (Translated by Google) Well stocked shop, nice...
1352  (Translated by Google) I bought a pair of trou...
1353  (Translated by Google) Good clothes, nice sell...
1354                                        The best üëåüèΩ
1356  (Translated by Google) A nice little shop with...

[503 rows x 1 columns]

In [60]:
dtext['result'] = dtext['text'].str.replace('(Translated by Google)', '')

/var/folders/lm/mxm0dmhd6ys_b60h5mrtj_640000gn/T/ipykernel_10849/1759539161.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  dtext['result'] = dtext['text'].str.replace('(Translated by Google)', '')
/var/folders/lm/mxm0dmhd6ys_b60h5mrtj_640000gn/T/ipykernel_10849/1759539161.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dtext['result'] = dtext['text'].str.replace('(Translated by Google)', '')

In [61]:
dtext

,text,result
3,"(Translated by Google) Unpleasant employee, af...","() Unpleasant employee, after I had to give hi..."
4,(Translated by Google) My girlfriend and I act...,() My girlfriend and I actually like the store...
7,Very nice cltothing,Very nice cltothing
8,It‚Äôs an ok store,It‚Äôs an ok store
10,(Translated by Google) My daughter's favorite ...,() My daughter's favorite clothing store. Nice...
...,...,...
1351,"(Translated by Google) Well stocked shop, nice...","() Well stocked shop, nice and helpful service..."
1352,(Translated by Google) I bought a pair of trou...,() I bought a pair of trousers made of special...
1353,"(Translated by Google) Good clothes, nice sell...","() Good clothes, nice seller, higher price seg..."
1354,The best üëåüèΩ,The best üëåüèΩ
1356,(Translated by Google) A nice little shop with...,() A nice little shop with the current range o...

In [66]:
from nltk.corpus import stopwords 
import string
from nltk.stem.wordnet import WordNetLemmatizer
from nltk import word_tokenize 
import nltk
#nltk.download('punkt')

[nltk_data] Downloading package punkt to /Users/test/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [67]:
def clean (text):
    for punctuation in string.punctuation:
        text = text.replace(punctuation, ' ') # Remove Punctuation
    lowercased = text.lower() # Lower Case
    tokenized = word_tokenize(lowercased) # Tokenize
    words_only = [word for word in tokenized if word.isalpha()] # Remove numbers
    stop_words = set(stopwords.words('english')) # Make stopword list
    without_stopwords = [word for word in words_only if not word in stop_words] # Remove Stop Words
    lemma=WordNetLemmatizer() # Initiate Lemmatizer
    lemmatized = [lemma.lemmatize(word) for word in without_stopwords] # Lemmatize
    return lemmatized

# Apply to all texts
dtext['clean_text'] = dtext.result.apply(clean)
dtext['clean_text'] = dtext['clean_text'].astype('str')

dtext.head()

LookupError:
**********************************************************************
  Resource stopwords not found.
  Please use the NLTK Downloader to obtain the resource:

  >>> import nltk
  >>> nltk.download('stopwords')

  For more information see: https://www.nltk.org/data.html

  Attempted to load corpora/stopwords

  Searched in:
    - '/Users/test/nltk_data'
    - '/Users/test/.pyenv/versions/3.10.6/envs/business_spot_finder/nltk_data'
    - '/Users/test/.pyenv/versions/3.10.6/envs/business_spot_finder/share/nltk_data'
    - '/Users/test/.pyenv/versions/3.10.6/envs/business_spot_finder/lib/nltk_data'
    - '/usr/share/nltk_data'
    - '/usr/local/share/nltk_data'
    - '/usr/lib/nltk_data'
    - '/usr/local/lib/nltk_data'
**********************************************************************

In [ ]:
from sklearn.decomposition import LatentDirichletAllocation
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer() # max_df too remove too frequent such as "restaurant"? Risk is, also takes other such as "staff"

data_vectorized = vectorizer.fit_transform(dtext['clean_text'])

lda_model = LatentDirichletAllocation(n_components=2)

lda_vectors = lda_model.fit_transform(data_vectorized)

In [ ]:
def print_topics(model, vectorizer):
    for idx, topic in enumerate(model.components_):
        print("Topic %d:" % (idx))
        print([(vectorizer.get_feature_names_out()[i], topic[i])
                        for i in topic.argsort()[:-10 - 1:-1]])

In [ ]:
print_topics(lda_model, vectorizer)

Official Google Maps API - only 20 reviews

In [61]:
url_shoes = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=52.520008, 13.404954&radius=10000&price_level&type=shoe_store&key=AIzaSyBryLiw6OzVMhyGSPMjuMOxsSpL3USAQOE'

In [62]:
response = requests.get(url_shoes)

data = response.json()

In [63]:
data.keys()

dict_keys(['html_attributions', 'next_page_token', 'results', 'status'])

In [64]:
results = data['results']

In [67]:
shoes_10000 = [d['place_id'] for d in results]